main {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100dvh;
	width: 100%;
	padding: 0px !important;
}

#cvContainer {
	z-index: 10;
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	filter: invert(0.9) sepia(0.2) hue-rotate(200deg);
	width: 80%;
}

@media (max-width: 768px) {
	#cvContainer {
		width: 100%;
	}
}
