main {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100dvh;
	width: 100%;
	padding: 20px;
}

#cvContainer {
	display: flex;
	flex-direction: column;
	filter: invert(0.9) sepia(0.2) hue-rotate(200deg);
}